Repository xafron-bv/data-quality-monitoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mermaid, docusaurus-build

validate-mermaid:
  name: Validate Mermaid diagrams
  entry: bash -c "node docs/scripts/validate-mermaid.js ."
  language: system
  pass_filenames: false

docusaurus-build:
  name: Build Docusaurus documentation
  entry: bash -c "cd docs && npm ci --silent && npm run build && rm -rf build"
  language: system
  pass_filenames: false
  description: Ensures documentation builds successfully without keeping artifacts

Add wkhtmltopdf-installer package to project dependencies
  docs/localhost.txt
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/prepare-build-for-pdf.js
Due: docusaurus-build

Add wkhtmltopdf-installer package to project dependencies (#44)
  docs/localhost.txt
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/prepare-build-for-pdf.js
Due: docusaurus-build

Enhance PDF generation with improved link handling and Mermaid rendering
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/prepare-build-for-pdf.js
Due: docusaurus-build

Checkpoint before follow-up message
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Due: docusaurus-build

Remove Kroki and remark plugins, simplify PDF generation script
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/prepare-build-for-pdf.js
Due: docusaurus-build

Enhance PDF generation with combined HTML and improved fallback strategy
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-combined-for-pdf.js
  docs/scripts/generate-pdf-wkhtmltopdf.js
Due: docusaurus-build

Replace PDF generation with Pandoc-based approach and clean up legacy scripts
  docs/localhost.txt
  docs/package.json
  docs/scripts/generate-combined-for-pdf.js
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/pandoc-mpdf.js
  docs/scripts/prepare-build-for-pdf.js
Due: docusaurus-build

Add Mermaid diagram rendering with Kroki and improve markdown processing
  docs/scripts/pandoc-mpdf.js
Due: docusaurus-build

Switch to Pandoc and TeX for improved PDF generation workflow
  .github/workflows/deploy-docs.yml
  docs/scripts/pandoc-mpdf.js
Due: docusaurus-build

Remove marked package from dependencies
  docs/package.json
Due: docusaurus-build

Fix pdf mermaid diagrams and links (#45)
  .github/workflows/deploy-docs.yml
  docs/localhost.txt
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/pandoc-mpdf.js
  docs/scripts/prepare-build-for-pdf.js
Due: docusaurus-build

Improve PDF generation and deployment workflow
  .github/workflows/deploy-docs.yml
  docs/scripts/pandoc-mpdf.js
Due: docusaurus-build

Improve PDF generation and deployment workflow (#46)
  .github/workflows/deploy-docs.yml
  docs/scripts/pandoc-mpdf.js
Due: docusaurus-build

Update CLI documentation: replace mermaid graph with list, clarify method enabling
  docs/reference/cli.md
Due: validate-mermaid, docusaurus-build

Refactor documentation to use Python subprocess and simplify code examples
  docs/deployment/examples.md
  docs/development/adding-fields.md
  docs/getting-started/basic-usage.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/user-guides/analyzing-results.md
  docs/user-guides/optimization.md
  docs/user-guides/running-detection.md
Due: validate-mermaid, docusaurus-build

Review and refine documentation for accuracy (#47)
  docs/deployment/examples.md
  docs/development/adding-fields.md
  docs/getting-started/basic-usage.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/user-guides/analyzing-results.md
  docs/user-guides/optimization.md
  docs/user-guides/running-detection.md
Due: validate-mermaid, docusaurus-build

Replace subprocess calls with direct bash command examples in docs
  docs/deployment/examples.md
  docs/development/adding-fields.md
  docs/getting-started/basic-usage.md
  docs/getting-started/quick-start.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/user-guides/analyzing-results.md
  docs/user-guides/optimization.md
  docs/user-guides/running-detection.md
Due: validate-mermaid, docusaurus-build

Fix Mermaid diagrams in PDF generation by saving images externally
  docs/reference/configuration.md
  docs/scripts/pandoc-mpdf.js
Due: validate-mermaid, docusaurus-build

Revert python to bash in docs (#48)
  docs/deployment/examples.md
  docs/development/adding-fields.md
  docs/getting-started/basic-usage.md
  docs/getting-started/quick-start.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/scripts/pandoc-mpdf.js
  docs/user-guides/analyzing-results.md
  docs/user-guides/optimization.md
  docs/user-guides/running-detection.md
Due: validate-mermaid, docusaurus-build

Checkpoint before follow-up message
  docs/architecture/detection-methods.md
  docs/development/adding-fields.md
  validators/README.md
  validators/care_instructions/rules.json
  validators/care_instructions/validate.py
  validators/category/rules.json
  validators/category/validate.py
  validators/color_name/rules.json
  validators/color_name/validate.py
  validators/material/rules.json
  validators/material/validate.py
  validators/rules_engine.py
  validators/season/rules.json
  validators/season/validate.py
  validators/size/rules.json
  validators/size/validate.py
Due: validate-mermaid, docusaurus-build

Remove per-field validate.py, use JsonRulesValidator with rule messages
  docs/development/adding-fields.md
  docs/reference/interfaces.md
  multi_sample_evaluation/multi_sample_evaluation.py
  single_sample_multi_field_demo/comprehensive_detector.py
  validators/README.md
  validators/care_instructions/error_messages.json
  validators/care_instructions/rules.json
  validators/care_instructions/validate.py
  validators/category/error_messages.json
  validators/category/rules.json
  validators/category/validate.py
  validators/color_name/error_messages.json
  validators/color_name/rules.json
  validators/color_name/validate.py
  validators/material/error_messages.json
  validators/material/rules.json
  validators/material/validate.py
  validators/report.py
  validators/rules_engine.py
  validators/season/error_messages.json
  validators/season/rules.json
  validators/season/validate.py
  validators/size/error_messages.json
  validators/size/rules.json
  validators/size/validate.py
Due: validate-mermaid, docusaurus-build

chore: exclude data folder from git
  .gitignore
Due: none

Implement rule-based validation with JSON configuration system
  anomaly_detectors/pattern_based/README.md
  docs/architecture/overview.md
  docs/getting-started/basic-usage.md
  docs/reference/interfaces.md
  multi_sample_evaluation/multi_sample_evaluation.py
  single_sample_multi_field_demo/comprehensive_detector.py
  validators/README.md
  validators/report.py
  validators/rule_based/__init__.py
  validators/rule_based/rule_based_validator.py
  validators/rule_based/rules/README.md
Due: validate-mermaid, docusaurus-build

Migrate validators to JSON-based rule system, remove Python validator classes
  docs/development/adding-fields.md
  docs/getting-started/basic-usage.md
  docs/reference/interfaces.md
  multi_sample_evaluation/multi_sample_evaluation.py
  validators/README.md
  validators/care_instructions/error_messages.json
  validators/care_instructions/validate.py
  validators/category/error_messages.json
  validators/category/validate.py
  validators/color_name/error_messages.json
  validators/color_name/validate.py
  validators/material/error_messages.json
  validators/material/validate.py
  validators/rule_based/rules/care_instructions.json
  validators/rule_based/rules/category.json
  validators/rule_based/rules/color_name.json
  validators/rule_based/rules/material.json
  validators/rule_based/rules/season.json
  validators/rule_based/rules/size.json
  validators/season/error_messages.json
  validators/season/validate.py
  validators/size/error_messages.json
  validators/size/validate.py
  validators/template/error_messages.json
  validators/template/validate.py
Due: validate-mermaid, docusaurus-build

Add rule-based validators and sample data for product evaluation
  eval_out/full_evaluation_results.json
  eval_out/sample_0.csv
  eval_out/sample_0_injected_items.json
  tmp_data.csv
  validators/rule_based/rules/article_number.json
  validators/rule_based/rules/brand.json
  validators/rule_based/rules/collection.json
  validators/rule_based/rules/colour_code.json
  validators/rule_based/rules/customs_tariff_number.json
  validators/rule_based/rules/description_short_1.json
  validators/rule_based/rules/ean.json
  validators/rule_based/rules/long_description_nl.json
  validators/rule_based/rules/manufactured_in.json
  validators/rule_based/rules/product_name_en.json
  validators/rule_based/rules/supplier.json
Due: none

Refactor rule-based validators with type coercion and simplified rules
  validators/rule_based/rule_based_validator.py
  validators/rule_based/rules/colour_code.json
  validators/rule_based/rules/customs_tariff_number.json
  validators/rule_based/rules/ean.json
Due: none

Checkpoint before follow-up message
  validators/validation_rules.json
Due: none

chore: remove test results
  test_multi_eval/full_evaluation_results.json
  test_multi_eval/sample_0.csv
  test_multi_eval/sample_0_injected_items.json
  test_multi_eval/sample_1.csv
  test_multi_eval/sample_1_injected_items.json
  test_multi_eval/sample_2.csv
  test_multi_eval/sample_2_injected_items.json
  test_multi_eval/sample_3.csv
  test_multi_eval/sample_3_injected_items.json
  test_multi_eval/sample_4.csv
  test_multi_eval/sample_4_injected_items.json
  test_validation_results/demo_analysis_confusion_matrix_report.json
  test_validation_results/demo_analysis_detection_type_confusion_matrix.png
  test_validation_results/demo_analysis_overall_confusion_matrix.png
  test_validation_results/demo_analysis_per_field_confusion_matrix.png
  test_validation_results/demo_analysis_performance_comparison.png
  test_validation_results/demo_analysis_summary_visualization.png
  test_validation_results/demo_analysis_unified_report.json
  test_validation_results/demo_analysis_viewer_report.json
  test_validation_results/demo_sample.csv
Due: none

Add injection metadata saving and improve error/anomaly injection ratio
  single_sample_multi_field_demo/comprehensive_sample_generator.py
  test_f1_complete/demo_analysis_confusion_matrix_report.json
  test_f1_complete/demo_analysis_detection_type_confusion_matrix.png
  test_f1_complete/demo_analysis_overall_confusion_matrix.png
  test_f1_complete/demo_analysis_per_field_confusion_matrix.png
  test_f1_complete/demo_analysis_performance_comparison.png
  test_f1_complete/demo_analysis_summary_visualization.png
  test_f1_complete/demo_analysis_unified_report.json
  test_f1_complete/demo_analysis_viewer_report.json
  test_f1_complete/demo_sample.csv
  test_f1_final/demo_analysis_confusion_matrix_report.json
  test_f1_final/demo_analysis_detection_type_confusion_matrix.png
  test_f1_final/demo_analysis_overall_confusion_matrix.png
  test_f1_final/demo_analysis_per_field_confusion_matrix.png
  test_f1_final/demo_analysis_performance_comparison.png
  test_f1_final/demo_analysis_summary_visualization.png
  test_f1_final/demo_analysis_unified_report.json
  test_f1_final/demo_analysis_viewer_report.json
  test_f1_final/demo_sample.csv
  test_f1_final/demo_sample_injection_metadata.json
Due: none

Checkpoint before follow-up message
  single_sample_multi_field_demo/comprehensive_sample_generator.py
  single_sample_multi_field_demo/single_sample_multi_field_demo.py
Due: none

Add error/anomaly injection probability controls in sample generator
  single_sample_multi_field_demo/comprehensive_sample_generator.py
  single_sample_multi_field_demo/single_sample_multi_field_demo.py
  test_errors_only/demo_analysis_confusion_matrix_report.json
  test_errors_only/demo_analysis_detection_type_confusion_matrix.png
  test_errors_only/demo_analysis_overall_confusion_matrix.png
  test_errors_only/demo_analysis_per_field_confusion_matrix.png
  test_errors_only/demo_analysis_performance_comparison.png
  test_errors_only/demo_analysis_summary_visualization.png
  test_errors_only/demo_analysis_unified_report.json
  test_errors_only/demo_analysis_viewer_report.json
  test_errors_only/demo_sample.csv
  test_errors_only/demo_sample_injection_metadata.json
  test_mixed/demo_analysis_confusion_matrix_report.json
  test_mixed/demo_analysis_detection_type_confusion_matrix.png
  test_mixed/demo_analysis_overall_confusion_matrix.png
  test_mixed/demo_analysis_per_field_confusion_matrix.png
  test_mixed/demo_analysis_performance_comparison.png
  test_mixed/demo_analysis_summary_visualization.png
  test_mixed/demo_analysis_unified_report.json
  test_mixed/demo_analysis_viewer_report.json
  test_mixed/demo_sample.csv
  test_mixed/demo_sample_injection_metadata.json
Due: none

Checkpoint before follow-up message
  multi_sample_evaluation/multi_sample_evaluation.py
Due: none

Path conditions:
  validate-mermaid: any of: .*\.md$, but not: ^(venv|\.venv|build|dist|\.git|__pycache__|\.mypy_cache|\.pytest_cache|\.cursor)/
  docusaurus-build: any of: ^docs/.*\.(md|js|json|css)$, but not: ^(venv|\.venv|build|dist|\.git|__pycache__|\.mypy_cache|\.pytest_cache|\.cursor)/
