Repository xafron-bv/data-quality-monitoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mermaid, docusaurus-build

.pre-commit-config.yaml:

# Pre-commit hooks for the Data Quality Monitoring System
# Focuses on catching import errors and basic syntax issues

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast  # Verify Python syntax - catches import errors!
        name: Check Python AST (syntax and imports)
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements  # Check for forgotten debugger imports
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Flake8 - Focus on import issues
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 (import and syntax checking)
        args: ['--config=.flake8']
        # Uses the .flake8 configuration file

  # Optional: Basic import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports
        args: ['--profile', 'black', '--line-length', '120', '--skip-gitignore']

  # Local hooks for documentation
  - repo: local
    hooks:
      - id: validate-mermaid
        name: Validate Mermaid diagrams
        entry: bash -c "node docs/scripts/validate-mermaid.js ."
        language: system
        files: '.*\.md$'
        pass_filenames: false
      
      - id: docusaurus-build
        name: Build Docusaurus documentation
        entry: bash -c "cd docs && npm ci --silent && npm run build && rm -rf build"
        language: system
        files: '^docs/.*\.(md|js|json|css)$'
        pass_filenames: false
        description: "Ensures documentation builds successfully without keeping artifacts"

# Configure pre-commit behavior
default_language_version:
  python: python3

# Exclude directories
exclude: '^(venv|\.venv|build|dist|\.git|__pycache__|\.mypy_cache|\.pytest_cache|\.cursor)/'

Rename error_probability to injection_intensity for clarity
  multi_sample_evaluation/multi_sample_evaluation.py
  test_multi_renamed/full_evaluation_results.json
  test_multi_renamed/sample_0.csv
  test_multi_renamed/sample_0_injected_items.json
  test_multi_renamed/sample_1.csv
  test_multi_renamed/sample_1_injected_items.json
  test_multi_renamed/sample_2.csv
  test_multi_renamed/sample_2_injected_items.json
  test_multi_renamed/sample_3.csv
  test_multi_renamed/sample_3_injected_items.json
  test_multi_renamed/sample_4.csv
  test_multi_renamed/sample_4_injected_items.json
Due: none

Add color injection test analysis report and confusion matrix
  test_color_injection/demo_analysis_confusion_matrix_report.json
  test_color_injection/demo_analysis_detection_type_confusion_matrix.png
  test_color_injection/demo_analysis_overall_confusion_matrix.png
  test_color_injection/demo_analysis_per_field_confusion_matrix.png
  test_color_injection/demo_analysis_performance_comparison.png
  test_color_injection/demo_analysis_summary_visualization.png
  test_color_injection/demo_analysis_unified_report.json
  test_color_injection/demo_analysis_viewer_report.json
  test_color_injection/demo_sample.csv
  test_color_injection/demo_sample_injection_metadata.json
Due: none

Consolidate validation to JSON and test (#51)
  brand_configs/test_brand.json
  docs/development/adding-fields.md
  multi_sample_evaluation/multi_sample_evaluation.py
  single_sample_multi_field_demo/comprehensive_detector.py
  single_sample_multi_field_demo/comprehensive_sample_generator.py
  single_sample_multi_field_demo/single_sample_multi_field_demo.py
  validators/README.md
  validators/care_instructions/error_messages.json
  validators/care_instructions/validate.py
  validators/category/error_messages.json
  validators/category/validate.py
  validators/color_name/error_messages.json
  validators/color_name/validate.py
  validators/json_reporter.py
  validators/json_validator.py
  validators/material/error_messages.json
  validators/material/validate.py
  validators/rules/care_instructions.json
  validators/rules/category.json
  validators/rules/color_name.json
  validators/rules/material.json
  validators/rules/season.json
  validators/rules/size.json
  validators/season/error_messages.json
  validators/season/validate.py
  validators/size/error_messages.json
  validators/size/validate.py
Due: validate-mermaid, docusaurus-build

chore: add encrypted data
  .gitignore
  data/.gitignore
  data/decrypt.sh
  data/encrypt.sh
  data/encrypted_csv_files.zip
  data/setup.md
  docs/getting-started/installation.md
Due: validate-mermaid, docusaurus-build

Add support for field-specific rule variations across brands
  README.md
  anomaly_detectors/README.md
  anomaly_detectors/llm_based/README.md
  anomaly_detectors/llm_based/llm_anomaly_detector.py
  anomaly_detectors/llm_based/llm_model_training.py
  anomaly_detectors/ml_based/README.md
  anomaly_detectors/ml_based/check_anomalies.py
  anomaly_detectors/ml_based/main.py
  anomaly_detectors/ml_based/ml_anomaly_detector.py
  anomaly_detectors/ml_based/model_training.py
  anomaly_detectors/pattern_based/README.md
  anomaly_detectors/pattern_based/pattern_based_detector.py
  anomaly_detectors/pattern_based/rules/color_name/baseline.json
  anomaly_detectors/pattern_based/rules/season/year_first.json
  brand_configs/esqualo.json
  cleanup_models.py
  common/brand_config.py
  common/field_mapper.py
  data/.gitignore
  data/README.md
  data/decrypt.sh
  data/download.sh
  data/encrypt.sh
  data/encrypted_csv_files.zip
  data/extract_models.sh
  data/release.sh
  data/setup.md
  data/zip_models_individually.sh
  ml_curve_generator/ml_curve_generator.py
  single_sample_multi_field_demo/comprehensive_detector.py
  validators/README.md
  validators/json_reporter.py
  validators/json_validator.py
  validators/rules/color_name/baseline.json
  validators/rules/season/year_first.json
Due: validate-mermaid

Checkpoint before follow-up message
  anomaly_detectors/llm_based/llm_model_training.py
  anomaly_detectors/pattern_based/pattern_based_detector.py
  single_sample_multi_field_demo/comprehensive_detector.py
  single_sample_multi_field_demo/comprehensive_sample_generator.py
Due: none

Refactor device selection, remove legacy fallbacks, and improve output directory handling
  anomaly_detectors/llm_based/llm_model_training.py
Due: none

Refactor model directory structure and paths for ML and LLM models
  anomaly_detectors/llm_based/llm_anomaly_detector.py
  anomaly_detectors/llm_based/llm_model_training.py
  anomaly_detectors/ml_based/check_anomalies.py
  anomaly_detectors/ml_based/model_training.py
Due: none

Remove fallback mechanisms and enforce stricter error handling
  anomaly_detectors/llm_based/llm_model_training.py
  anomaly_detectors/ml_based/hyperparameter_search.py
  anomaly_detectors/pattern_based/report.py
  data/release.sh
  multi_sample_evaluation/multi_sample_evaluation.py
  single_sample_multi_field_demo/confusion_matrix_analyzer.py
Due: none

Checkpoint before follow-up message
  anomaly_detectors/ml_based/README.md
Due: validate-mermaid

Simplify model directory structure and update documentation paths
  README.md
  anomaly_detectors/README.md
  data/setup.md
Due: validate-mermaid

Refactor data management: improve model zips, encryption, and release scripts
  data/README.md
  docs/getting-started/installation.md
Due: validate-mermaid, docusaurus-build

Refactor rule file paths to use variation-first directory structure
  anomaly_detectors/ml_based/main.py
  anomaly_detectors/pattern_based/pattern_based_detector.py
  ml_curve_generator/ml_curve_generator.py
  single_sample_multi_field_demo/comprehensive_detector.py
  single_sample_multi_field_demo/comprehensive_sample_generator.py
  validators/json_validator.py
Due: none

Refactor model directory structure to variation-first layout
  README.md
  anomaly_detectors/README.md
  anomaly_detectors/llm_based/llm_anomaly_detector.py
  anomaly_detectors/llm_based/llm_model_training.py
  anomaly_detectors/ml_based/README.md
  anomaly_detectors/ml_based/check_anomalies.py
  anomaly_detectors/ml_based/model_training.py
  data/README.md
  data/extract_models.sh
  data/setup.md
  data/zip_models_individually.sh
Due: validate-mermaid

Restructure model and rule directories to use field-first layout
  README.md
  anomaly_detectors/README.md
  anomaly_detectors/llm_based/llm_anomaly_detector.py
  anomaly_detectors/llm_based/llm_model_training.py
  anomaly_detectors/ml_based/README.md
  anomaly_detectors/ml_based/check_anomalies.py
  anomaly_detectors/ml_based/main.py
  anomaly_detectors/ml_based/model_training.py
  anomaly_detectors/pattern_based/pattern_based_detector.py
  data/README.md
  data/extract_models.sh
  data/setup.md
  data/zip_models_individually.sh
  ml_curve_generator/ml_curve_generator.py
  single_sample_multi_field_demo/comprehensive_detector.py
  single_sample_multi_field_demo/comprehensive_sample_generator.py
  validators/json_validator.py
Due: validate-mermaid

Support multiple error rule variations per field with flexible loading
  anomaly_detectors/ml_based/main.py
  ml_curve_generator/ml_curve_generator.py
  single_sample_multi_field_demo/comprehensive_sample_generator.py
Due: none

Enforce strict error rule loading with required field variations
  anomaly_detectors/ml_based/main.py
  ml_curve_generator/ml_curve_generator.py
  single_sample_multi_field_demo/comprehensive_sample_generator.py
Due: none

Use brand config object for field variation retrieval
  anomaly_detectors/ml_based/main.py
Due: none

Refactor pattern-based rules to baseline configs with standardized structure
  anomaly_detectors/pattern_based/rules/article_number/baseline.json
  anomaly_detectors/pattern_based/rules/brand/baseline.json
  anomaly_detectors/pattern_based/rules/care_instructions/baseline.json
  anomaly_detectors/pattern_based/rules/category/baseline.json
  anomaly_detectors/pattern_based/rules/collection/baseline.json
  anomaly_detectors/pattern_based/rules/color_name.json
  anomaly_detectors/pattern_based/rules/color_name/baseline.json
  anomaly_detectors/pattern_based/rules/colour_code/baseline.json
  anomaly_detectors/pattern_based/rules/customs_tariff_number/baseline.json
  anomaly_detectors/pattern_based/rules/description_short_1/baseline.json
  anomaly_detectors/pattern_based/rules/ean/baseline.json
  anomaly_detectors/pattern_based/rules/long_description_nl/baseline.json
  anomaly_detectors/pattern_based/rules/manufactured_in/baseline.json
  anomaly_detectors/pattern_based/rules/material/baseline.json
  anomaly_detectors/pattern_based/rules/product_name_en/baseline.json
  anomaly_detectors/pattern_based/rules/season/baseline.json
  anomaly_detectors/pattern_based/rules/season/year_first.json
  anomaly_detectors/pattern_based/rules/size/baseline.json
  anomaly_detectors/pattern_based/rules/supplier/baseline.json
  brand_configs/esqualo.json
Due: none

Checkpoint before follow-up message
  validators/rules/season/baseline.json
Due: none

Reorganize anomaly injection rules into baseline configuration files
  anomaly_detectors/anomaly_injection_rules/category/baseline.json
  anomaly_detectors/anomaly_injection_rules/color_name/baseline.json
  anomaly_detectors/anomaly_injection_rules/material/baseline.json
  anomaly_detectors/anomaly_injection_rules/template/baseline.json
Due: none

Restructure validators with baseline configs and error injection rules
  validators/error_injection_rules/article_number/baseline.json
  validators/error_injection_rules/care_instructions/baseline.json
  validators/error_injection_rules/category/baseline.json
  validators/error_injection_rules/color_name/baseline.json
  validators/error_injection_rules/colour_code/baseline.json
  validators/error_injection_rules/customs_tariff_number/baseline.json
  validators/error_injection_rules/description_short_1/baseline.json
  validators/error_injection_rules/ean/baseline.json
  validators/error_injection_rules/long_description_nl/baseline.json
  validators/error_injection_rules/material/baseline.json
  validators/error_injection_rules/product_name_en/baseline.json
  validators/error_injection_rules/season/baseline.json
  validators/error_injection_rules/size/baseline.json
  validators/error_injection_rules/template/baseline.json
  validators/rules/care_instructions/baseline.json
  validators/rules/category/baseline.json
  validators/rules/color_name.json
  validators/rules/color_name/baseline.json
  validators/rules/material/baseline.json
  validators/rules/season.json
  validators/rules/season/baseline.json
  validators/rules/size/baseline.json
Due: none

Add brand-based model training with optional field configuration
  anomaly_detectors/llm_based/llm_model_training.py
Due: none

Add brand-specific field selection for ML-based anomaly detection
  anomaly_detectors/ml_based/main.py
Due: none

Remove default data paths and update brand config documentation
  brand_configs/esqualo.json
  brand_configs/test_brand.json
  common/brand_config.py
  docs/reference/configuration.md
  single_sample_multi_field_demo/single_sample_multi_field_demo.py
Due: validate-mermaid, docusaurus-build

Checkpoint before follow-up message
  anomaly_detectors/llm_based/llm_model_training.py
Due: none

Checkpoint before follow-up message
  anomaly_detectors/__init__.py
  anomaly_detectors/llm_based/llm_model_training.py
  pyproject.toml
  setup.py
Due: none

Remove redundant sys.path.append calls across multiple files
  .flake8
  analyze_column/analyze_column.py
  anomaly_detectors/llm_based/llm_anomaly_detector.py
  anomaly_detectors/ml_based/check_anomalies.py
  anomaly_detectors/ml_based/hyperparameter_search.py
  anomaly_detectors/ml_based/main.py
  anomaly_detectors/ml_based/model_training.py
  anomaly_detectors/pattern_based/report.py
  ml_curve_generator/ml_curve_generator.py
  multi_sample_evaluation/evaluator.py
  multi_sample_evaluation/multi_sample_evaluation.py
  single_sample_multi_field_demo/comprehensive_sample_generator.py
  single_sample_multi_field_demo/confusion_matrix_analyzer.py
  single_sample_multi_field_demo/consolidated_reporter.py
  single_sample_multi_field_demo/single_sample_multi_field_demo.py
Due: none

Update README and add Cursor IDE project setup instructions
  .cursorrules
  README.md
Due: validate-mermaid

Train llm models for brand config (#53)
  .cursorrules
  .flake8
  README.md
  analyze_column/analyze_column.py
  anomaly_detectors/__init__.py
  anomaly_detectors/llm_based/llm_anomaly_detector.py
  anomaly_detectors/ml_based/check_anomalies.py
  anomaly_detectors/ml_based/hyperparameter_search.py
  anomaly_detectors/ml_based/main.py
  anomaly_detectors/ml_based/model_training.py
  anomaly_detectors/pattern_based/report.py
  brand_configs/esqualo.json
  brand_configs/test_brand.json
  common/brand_config.py
  docs/reference/configuration.md
  ml_curve_generator/ml_curve_generator.py
  multi_sample_evaluation/evaluator.py
  multi_sample_evaluation/multi_sample_evaluation.py
  pyproject.toml
  setup.py
  single_sample_multi_field_demo/comprehensive_sample_generator.py
  single_sample_multi_field_demo/confusion_matrix_analyzer.py
  single_sample_multi_field_demo/consolidated_reporter.py
  single_sample_multi_field_demo/single_sample_multi_field_demo.py
Due: validate-mermaid, docusaurus-build

chore: fix the encryption of csv
  data/encrypted_csv_files.zip
Due: none

Add multi-part file support for large model downloads
  data/LARGE_FILES_HANDLING.md
  data/download.sh
  data/extract_models.sh
  data/release.sh
  data/test_split_merge.sh
  data/zip_models_individually.sh
Due: validate-mermaid

Remove large files handling documentation
  data/LARGE_FILES_HANDLING.md
Due: validate-mermaid

Split and reassemble large model zip files (#54)
  data/download.sh
  data/extract_models.sh
  data/release.sh
  data/test_split_merge.sh
  data/zip_models_individually.sh
Due: none
