Repository xafron-bv/data-quality-monitoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mermaid, docusaurus-build

.pre-commit-config.yaml:

# Pre-commit hooks for the Data Quality Monitoring System
# Focuses on catching import errors and basic syntax issues

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast  # Verify Python syntax - catches import errors!
        name: Check Python AST (syntax and imports)
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements  # Check for forgotten debugger imports
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Flake8 - Focus on import issues
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 (import and syntax checking)
        args: ['--config=.flake8']
        # Uses the .flake8 configuration file

  # Optional: Basic import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports
        args: ['--profile', 'black', '--line-length', '120', '--skip-gitignore']

  # Local hooks for documentation
  - repo: local
    hooks:
      - id: validate-mermaid
        name: Validate Mermaid diagrams
        entry: bash -c "node docs/scripts/validate-mermaid.js ."
        language: system
        files: '.*\.md$'
        pass_filenames: false
      
      - id: docusaurus-build
        name: Build Docusaurus documentation
        entry: bash -c "cd docs && npm ci --silent && npm run build && rm -rf build"
        language: system
        files: '^docs/.*\.(md|js|json|css)$'
        pass_filenames: false
        description: "Ensures documentation builds successfully without keeping artifacts"

# Configure pre-commit behavior
default_language_version:
  python: python3

# Exclude directories
exclude: '^(venv|\.venv|build|dist|\.git|__pycache__|\.mypy_cache|\.pytest_cache|\.cursor)/'

Remove PDF generation documentation file
  docs/PDF_GENERATION.md
Due: validate-mermaid, docusaurus-build

Remove PDF dependencies installation guide documentation
  docs/INSTALL_PDF_DEPS.md
Due: validate-mermaid, docusaurus-build

Update pdf generation to new method (#37)
  docs/package-lock.json
  docs/package.json
  docs/print.css
  docs/scripts/generate-pdf-wkhtmltopdf.js
Due: docusaurus-build

Replace Chrome with wkhtmltopdf for PDF generation in docs workflow
  .github/workflows/deploy-docs.yml
Due: none

Add wkhtmltopdf caching to GitHub Actions workflow
  .github/workflows/deploy-docs.yml
Due: none

Optimize gh actions caching and cleanup (#38)
  .github/workflows/deploy-docs.yml
Due: none

Refactor docs structure, update PDF generation, and simplify navigation
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-simple-pdf.js
  docs/sidebars.js
  docs/static/pdf/README.md
  docs/static/pdf/xafron-documentation.pdf
Due: validate-mermaid, docusaurus-build

Add comprehensive PDF generation with Puppeteer
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-comprehensive-pdf.js
  docs/static/pdf/README.md
  docs/static/pdf/xafron-documentation.pdf
Due: validate-mermaid, docusaurus-build

Check pdf link for 404 error (#39)
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-comprehensive-pdf.js
  docs/scripts/generate-simple-pdf.js
  docs/sidebars.js
  docs/static/pdf/README.md
  docs/static/pdf/xafron-documentation.pdf
Due: validate-mermaid, docusaurus-build

Add Mermaid diagram support for PDF generation
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-comprehensive-pdf.js
  docs/static/pdf/xafron-documentation.pdf
Due: docusaurus-build

Checkpoint before follow-up message
  docs/package.json
Due: docusaurus-build

Checkpoint before follow-up message
  docs/package.json
  docs/print.css
  docs/static/pdf/xafron-documentation.pdf
Due: docusaurus-build

Update PDF generation README to reflect wkhtmltopdf usage
  docs/static/pdf/README.md
Due: validate-mermaid, docusaurus-build

Ignore generated PDF files and remove existing PDF documents
  docs/.gitignore
  docs/xafron-documentation-compressed.pdf
Due: none

Update package dependencies and resolve version conflicts
  docs/package-lock.json
Due: docusaurus-build

chore: remove localhsot
  docs/pdf/localhost.txt
Due: none

chore: update package-lock
  docs/package-lock.json
Due: docusaurus-build

Improve PDF generation workflow with better caching and error handling
  .github/workflows/deploy-docs.yml
  docs/scripts/generate-pdf-wkhtmltopdf.js
Due: docusaurus-build

Fix pdf generation for mermaid diagrams (#40)
  .github/workflows/deploy-docs.yml
  docs/.gitignore
  docs/package-lock.json
  docs/package.json
  docs/print.css
  docs/scripts/generate-comprehensive-pdf.js
  docs/scripts/generate-pdf-with-server.js
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/generate-simple-pdf.js
  docs/static/pdf/README.md
  docs/static/pdf/xafron-documentation.pdf
Due: validate-mermaid, docusaurus-build

Checkpoint before follow-up message
  docs/scripts/generate-pdf-alternative.js
  docs/scripts/test-pdf.js
Due: docusaurus-build

Checkpoint before follow-up message
  docs/print.css
  docs/scripts/generate-pdf-wkhtmltopdf.js
Due: docusaurus-build

Checkpoint before follow-up message
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/mermaid-wait.js
Due: docusaurus-build

Add simple PDF generation script with improved reliability
  docs/package.json
  docs/scripts/generate-pdf-simple.js
Due: docusaurus-build

Consolidate PDF generation scripts into single generate-pdf.js script
  docs/package.json
  docs/scripts/generate-pdf-simple.js
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/generate-pdf.js
  docs/scripts/mermaid-wait.js
  docs/scripts/test-pdf.js
Due: docusaurus-build

Checkpoint before follow-up message
  docs/scripts/generate-pdf.js
Due: docusaurus-build

Improve PDF generation script with dynamic page extraction and error handling
  docs/scripts/generate-pdf.js
Due: docusaurus-build

Add Mermaid diagram pre-rendering and PDF generation scripts
  docs/package.json
  docs/print.css
  docs/scripts/generate-pdf-browser.js
  docs/scripts/prerender-mermaid.js
  docs/static/mermaid-svg/adding-fields_1.svg
  docs/static/mermaid-svg/basic-usage_1.svg
  docs/static/mermaid-svg/cli_1.svg
  docs/static/mermaid-svg/detection-methods_1.svg
  docs/static/mermaid-svg/detection-methods_2.svg
  docs/static/mermaid-svg/detection-methods_3.svg
  docs/static/mermaid-svg/detection-methods_4.svg
  docs/static/mermaid-svg/diagram-mapping.json
  docs/static/mermaid-svg/interfaces_1.svg
  docs/static/mermaid-svg/overview_1.svg
  docs/static/mermaid-svg/overview_2.svg
  docs/static/mermaid-svg/overview_3.svg
  docs/static/mermaid-svg/overview_4.svg
  docs/static/mermaid-svg/overview_5.svg
  docs/static/mermaid-svg/overview_6.svg
Due: docusaurus-build

Clean up temporary files after PDF generation process
  docs/pdf/localhost.txt
  docs/scripts/generate-pdf-wkhtmltopdf.js
Due: docusaurus-build

Update .gitignore with installation packages, binaries, and temp files
  docs/.gitignore
Due: none

Add script to prepare build for PDF generation with Mermaid rendering
  docs/package.json
  docs/scripts/prepare-build-for-pdf.js
Due: docusaurus-build

Add script to prepare build for PDF generation with Mermaid rendering (#43)
  docs/package.json
  docs/scripts/prepare-build-for-pdf.js
Due: docusaurus-build
