Repository xafron-bv/data-quality-monitoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mermaid, docusaurus-build

.pre-commit-config.yaml:

# Pre-commit hooks for the Data Quality Monitoring System
# Focuses on catching import errors and basic syntax issues

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast  # Verify Python syntax - catches import errors!
        name: Check Python AST (syntax and imports)
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements  # Check for forgotten debugger imports
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Flake8 - Focus on import issues
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 (import and syntax checking)
        args: ['--config=.flake8']
        # Uses the .flake8 configuration file

  # Optional: Basic import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports
        args: ['--profile', 'black', '--line-length', '120', '--skip-gitignore']

  # Local hooks for documentation
  - repo: local
    hooks:
      - id: validate-mermaid
        name: Validate Mermaid diagrams
        entry: bash -c "node docs/scripts/validate-mermaid.js ."
        language: system
        files: '.*\.md$'
        pass_filenames: false
      
      - id: docusaurus-build
        name: Build Docusaurus documentation
        entry: bash -c "cd docs && npm ci --silent && npm run build && rm -rf build"
        language: system
        files: '^docs/.*\.(md|js|json|css)$'
        pass_filenames: false
        description: "Ensures documentation builds successfully without keeping artifacts"

# Configure pre-commit behavior
default_language_version:
  python: python3

# Exclude directories
exclude: '^(venv|\.venv|build|dist|\.git|__pycache__|\.mypy_cache|\.pytest_cache|\.cursor)/'

Checkpoint before follow-up message
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-pdf-placeholder.js
  docs/scripts/generate-pdf-simple.js
  docs/static/pdf/index.html
  docs/static/pdf/xafron-documentation.pdf.html
Due: docusaurus-build

Add PDF generation and download button for documentation
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-pdf-with-server.js
Due: docusaurus-build

Refactor detection methods overview with comprehensive theoretical foundations
  docs/detection-methods/overview.md
Due: validate-mermaid, docusaurus-build

Generate and link pdfs of docs (#31)
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-pdf-with-server.js
Due: docusaurus-build

Update detection methods overview with detailed method explanations
  docs/detection-methods/overview.md
Due: validate-mermaid, docusaurus-build

Checkpoint before follow-up message
  docs/consolidated/theoretical-approach.md
Due: validate-mermaid, docusaurus-build

Add Chrome dependencies and improve PDF generation in CI workflow
  .github/workflows/deploy-docs.yml
  docs/package.json
  docs/scripts/generate-pdf-with-server.js
  docs/static/pdf/.gitkeep
  docs/static/pdf/README.md
Due: validate-mermaid, docusaurus-build

Refactor pattern detection to use JSON rules and known value matching
  docs/architecture/detection-methods.md
  docs/consolidated/adding-fields.md
  docs/consolidated/code-structure.md
  docs/consolidated/introduction-overview.md
  docs/detection-methods/overview.md
  docs/development/new-fields.md
  docs/getting-started/understanding-entrypoints.md
Due: validate-mermaid, docusaurus-build

Update docs-to-pdf command with Docusaurus v2 specific selectors
  docs/scripts/generate-pdf-with-server.js
Due: docusaurus-build

Explain ml detection theory and code approach (#32)
  docs/architecture/detection-methods.md
  docs/consolidated/adding-fields.md
  docs/consolidated/code-structure.md
  docs/consolidated/introduction-overview.md
  docs/consolidated/theoretical-approach.md
  docs/detection-methods/overview.md
  docs/development/new-fields.md
  docs/getting-started/understanding-entrypoints.md
Due: validate-mermaid, docusaurus-build

Remove --disableTOC flag from PDF generation script
  docs/scripts/generate-pdf-with-server.js
Due: docusaurus-build

Replace Chromium with Google Chrome in GitHub Actions workflow
  .github/workflows/deploy-docs.yml
Due: none

Investigate pdf generation error (#33)
  .github/workflows/deploy-docs.yml
  docs/package.json
  docs/scripts/generate-pdf-with-server.js
  docs/static/pdf/.gitkeep
  docs/static/pdf/README.md
Due: validate-mermaid, docusaurus-build

Update documentation with brand config file location and generic directory instructions
  README.md
  docs/consolidated/installation-setup.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
Due: validate-mermaid, docusaurus-build

Update documentation, README, and configuration for multi-brand support
  README.md
  docs/README.md
  docs/api/interfaces.md
  docs/architecture/overview.md
  docs/configuration/brand-config.md
Due: validate-mermaid, docusaurus-build

Simplify documentation for brand configuration and field addition process
  docs/consolidated/adding-brands.md
  docs/consolidated/adding-fields.md
  docs/consolidated/architecture-design.md
  docs/consolidated/code-structure.md
  docs/consolidated/command-line-usage.md
Due: validate-mermaid, docusaurus-build

Update documentation with refined project structure and deployment notes
  docs/consolidated/installation-setup.md
  docs/consolidated/introduction-overview.md
  docs/consolidated/operations.md
Due: validate-mermaid, docusaurus-build

Update documentation for new field configuration and detection workflows
  docs/development/new-fields.md
  docs/getting-started/quick-start.md
  docs/getting-started/understanding-entrypoints.md
  docs/operations/deployment.md
  docs/reference/cli.md
  docs/user-guides/analyzing-data.md
  docs/user-guides/evaluating-performance.md
  docs/user-guides/running-detection.md
  docs/user-guides/viewing-results.md
Due: validate-mermaid, docusaurus-build

Refactor documentation for better readability and user guidance
  README.md
  docs/getting-started/basic-usage.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/user-guides/analyzing-results.md
  docs/user-guides/optimization.md
Due: validate-mermaid, docusaurus-build

docs: Reorganize and update documentation structure
  README.md
  docs/architecture/detection-methods.md
  docs/architecture/overview.md
  docs/development/adding-fields.md
  docs/development/contributing.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/interfaces.md
Due: validate-mermaid, docusaurus-build

Checkpoint before follow-up message
  README.md
  docs/README.md
  docs/architecture/core-components.md
  docs/architecture/data-flow.md
  docs/configuration/brand-config.md
  docs/consolidated/adding-brands.md
  docs/consolidated/adding-fields.md
  docs/consolidated/architecture-design.md
  docs/consolidated/code-structure.md
  docs/consolidated/command-line-usage.md
  docs/consolidated/installation-setup.md
  docs/consolidated/introduction-overview.md
  docs/consolidated/operations.md
  docs/consolidated/theoretical-approach.md
  docs/deployment/examples.md
  docs/detection-methods/overview.md
  docs/detection-methods/validation.md
  docs/getting-started/understanding-entrypoints.md
  docs/operations/deployment.md
  docs/user-guides/analyzing-data.md
  docs/user-guides/evaluating-performance.md
  docs/user-guides/optimizing-weights.md
  docs/user-guides/viewing-results.md
Due: validate-mermaid, docusaurus-build

Add comprehensive getting started documentation with learning paths
  docs/development/adding-fields.md
  docs/getting-started/README.md
  docs/reference/cli.md
  docs/reference/interfaces.md
  docs/user-guides/running-detection.md
Due: validate-mermaid, docusaurus-build

Verify and correct documentation against code (#34)
  README.md
  docs/README.md
  docs/architecture/core-components.md
  docs/architecture/data-flow.md
  docs/architecture/detection-methods.md
  docs/architecture/overview.md
  docs/configuration/brand-config.md
  docs/consolidated/adding-brands.md
  docs/consolidated/adding-fields.md
  docs/consolidated/architecture-design.md
  docs/consolidated/code-structure.md
  docs/consolidated/command-line-usage.md
  docs/consolidated/installation-setup.md
  docs/consolidated/introduction-overview.md
  docs/consolidated/operations.md
  docs/consolidated/theoretical-approach.md
  docs/deployment/examples.md
  docs/detection-methods/overview.md
  docs/detection-methods/validation.md
  docs/development/adding-fields.md
  docs/development/contributing.md
  docs/getting-started/README.md
  docs/getting-started/basic-usage.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/getting-started/understanding-entrypoints.md
  docs/operations/deployment.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/interfaces.md
  docs/user-guides/analyzing-data.md
  docs/user-guides/analyzing-results.md
  docs/user-guides/evaluating-performance.md
  docs/user-guides/optimization.md
  docs/user-guides/optimizing-weights.md
  docs/user-guides/running-detection.md
  docs/user-guides/viewing-results.md
Due: validate-mermaid, docusaurus-build

Add caching for npm, Chrome, apt, and Docusaurus build artifacts
  .github/workflows/deploy-docs.yml
Due: none

Remove docs/build from Docusaurus cache to optimize workflow
  .github/workflows/deploy-docs.yml
Due: none

Cache github actions documentation generation (#35)
  .github/workflows/deploy-docs.yml
Due: none

Checkpoint before follow-up message
  docs/package.json
  docs/scripts/fix-pdf-links.js
  docs/scripts/generate-pdf-with-server.js
Due: docusaurus-build

Checkpoint before follow-up message
  docs/scripts/generate-pdf-with-server.js
Due: docusaurus-build

Add baseUrl option to docs-to-pdf for better link handling
  docs/scripts/generate-pdf-with-server.js
Due: docusaurus-build

Remove jsdom and delete PDF link fixing script
  docs/package.json
  docs/scripts/fix-pdf-links.js
Due: docusaurus-build

Fix broken pdf links to localhost (#36)
  docs/scripts/generate-pdf-with-server.js
Due: docusaurus-build

Checkpoint before follow-up message
  docs/PDF_GENERATION.md
  docs/package.json
  docs/scripts/generate-pdf-advanced.js
  docs/scripts/generate-pdf.js
Due: validate-mermaid, docusaurus-build

Switch to wkhtmltopdf for PDF generation with improved documentation
  docs/INSTALL_PDF_DEPS.md
  docs/PDF_GENERATION.md
  docs/package-lock.json
  docs/package.json
  docs/print.css
  docs/scripts/generate-pdf-advanced.js
  docs/scripts/generate-pdf-wkhtmltopdf.js
  docs/scripts/generate-pdf.js
Due: validate-mermaid, docusaurus-build
